/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/
@import url(animate.min.css);

@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');

@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@font-face {
    font-family: "Righteous";
    src: url("../fonts/BalooChettan-Regular.ttf");
    src: url("../fonts/BalooChettan-Regular.ttf");
}


/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/
.dot {
    height: 10px;
    width: 10px;
    background-color: #E63534; /* Blue color */
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
}
* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}
.swiper1 {
	width: 100%;
	height: 80vh;
    position: relative;
}
.swiper1 .swiper-wrapper .swiper-slide .box .text img{
    height:100%!important;
    object-fit:cover;
}

.swiper2 {
	width: 100%;
	height: 100%;
    position: relative;

}
.swiper3 {
	width: 100%;
	height: 100%;
    position: relative;

}
.swiper2 .swipper-wrapper .swiper-slide{
    width:100%!important;
}
.swiper-container {
    width: 100%;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.swiper-container4 {
    width: 100%;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    z-index:1;
}
.modal {
    z-index: 1050; /* Bootstrap default z-index for modals */
}
.swiper-container4 .swiper-slide{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.swiper-pagination2 {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    width: 100%;
    bottom: 10px; /* Adjust as needed */
}

.swiper-pagination2 .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    background: #ffffff; /* Change the color as needed */
    opacity: 0.2;
    transition: opacity .3s;
}

.swiper-pagination2 .swiper-pagination-bullet-active {
    opacity: 1;
    background: #E1C17E; /* Change the active bullet color as needed */
}
.swiper-pagination3 {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    width: 100%;
    bottom: 10px; /* Adjust as needed */
}

.swiper-pagination3 .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    background: #ffffff; /* Change the color as needed */
    opacity: 0.2;
    transition: opacity .3s;
}

.swiper-pagination3 .swiper-pagination-bullet-active {
    opacity: 1;
    background: #E1C17E; /* Change the active bullet color as needed */
}
.swiper-container1 {
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    overflow: hidden;

}
.swiper-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:100%
}

.swiper-container3{
    height:100%
}

.swiper-slide {
    position: relative;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    bottom: 20px; /* Adjust the value to your preference */
    z-index: 10;
    top:90%;
}
.swiper-button-prev::after,
.swiper-button-next::after {
    display:none;
}
.swiper-button-prev i,
.swiper-button-next i {
    font-size: 32px; /* Adjust this value to change the icon size */
    color:#fff;
}
.swiper-button-prev {
    left: 50%;
    transform: translateX(-100%);
    padding-right: 30px;

}

.swiper-button-next {
    left: 50%;
    transform: translateX(0%);
    border-left: 1px solid #fff;
    padding-left: 30px;
}
.swiper-pagination-bullet {
    width: auto;
    height: auto;
    margin: 0 5px; /* Adjust spacing between numbers */
    font-size: 16px;
    color: white;
    opacity: 1;
    background: none;
}

.swiper-pagination-bullet-active {
    font-weight: bold;
    color:#E63534;
    font-size:36px;
}
.vertical-text {
    transform: rotate(360deg); /* Rotate text 90 degrees clockwise */
    transform-origin: left top; /* Set rotation origin */
    font-size: 24px; /* Adjust font size as needed */
    line-height: 1.2; /* Adjust line height as needed */
    writing-mode: vertical-lr; /* Vertical text from top to bottom */
    text-orientation: mixed; /* Ensures letters are upright */
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;
    color:#fff;

}
.vertical-text-container {
    display: inline-block; /* Ensures container size matches content */
    white-space: nowrap; /* Prevents wrapping of text */
}

.vertical-line {
    width: 2px; /* Adjust thickness of the line */
    height: 50px; /* Adjust height of the line */
    background-color: #fff; /* Adjust color of the line */
}
.box{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}
.box-2{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}
.swiper-wrapper {
    position: relative; /* Ensure swiper wrapper is positioned */
}
.box .text{
    position: absolute;
    z-index: 999;
    margin: 0;
    left: 10%;
    right: 10%;
    top: 40%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 80%; /* Set the width of the positioned div */
    padding:16px 16px;
    border-radius:10px;
    margin-top: 30px;

}
.box-2 .text-2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
    padding:15px 0;
    position: absolute;
    z-index: 999;
    margin: 0;
    left: 0;
    right: 0;
    text-align: start;
    width: 4%; /* Set the width of the positioned div */
    background-color: rgba(255, 87, 51, 0.3); /* White color with 30% opacity */
    height:100%;
}
.box-2 .text-3{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
    padding:15px 0;
    position: absolute;
    z-index: 999;
    margin: 0;
    left: 0;
    right: 0;
    text-align: start;
    width: 100%; /* Set the width of the positioned div */
    height:auto;
}
.text-2 .social-info{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.box-2 aside .social-icons{
    display:flex;
    flex-direction: column;
}
.box-2 aside .social-icons i{
    font-size: 16px;
    color:#fff;
}
.box-2 aside .social-icons i:hover{
    font-size: 16px;
    color:#E63534;
    cursor:pointer
}
.box .text h1{
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;
    color:#E1C17E;

}
.box .text h2{
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;
    color:#fff;
    font-size: 52px;
    font-weight: 800;
    line-height: 1;

}
.box .text h3{
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;
    color:#fff;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;

}
.box .text p{
    color:#fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 1;
    margin:0;
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;

}
body {
    color: #666666;
    font-size: 14px;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

 :focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}
.layout_padding1 {
    padding-bottom: 0px;
}
.padding_0 {
    padding: 0px;
}


/* header section start */

.header_section {
    width: 100%;
    float: left;
    background-color: #fef4ec;
    height: auto;
    background-size: 100%;
}

.bg-light {
    background-color: transparent!important;
}

.toggle_icon {
    padding: 10px 0px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #fc967e;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav {
    z-index: 99999999999999;
    background-color: rgb(0, 0, 0, 0.9);
}

@media screen and (max-width: 450px) {
    .sidenav {
        padding-top: 15px;
        background-color: rgb(0, 0, 0, 0.9);
    }
    .sidenav a {
        font-size: 18px;
    }
}

.login_text {
    width: 100%;
    float: left;
}

.login_text ul {
    margin: 0px;
    padding: 0px;
}

.login_text li {
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    float: left;
    padding-left: 15px;
}

.login_text a {
    color: #ffffff;
}

.login_text a:hover {
    color: #ffffff;
}
.navbar-nav .nav-link{
    font-family: Ysabeau Office, Times New Roman, Times, serif;
    font-size: 20px;
}
.navbar-nav .nav-link:hover{
    font-family: Ysabeau Office, Times New Roman, Times, serif;
    font-size: 20px;
    color: #E1C17E!important;
}
.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, .9);
    padding-left: 90px;
    z-index: 2;
}
.app .navbar-toggler{
    border-color:#202020;
}
.app .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar{
    z-index: 1030;

}
.fixed-top{
    position: fixed!important;
}
.navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.3); /* Whitish background with slight transparency */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
}
.navbar.scrolled .nav-link{
    color:#E63534!important;

}
/* header section end */


/* banner section start */

.banner_section {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.png);
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.banner_section .navbar-toggler{
    border-color:#fff;
    margin-right: 35px;
}
.banner_section .navbar .container{
    display:flex;
    justify-content: end;
}
.banner_section .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.banner_taital {
    width: 100%;
    margin: 0 auto;
    font-size: 100px;
    color: #000;
    line-height: 90px;
    padding-top: 20px;
    font-family: 'Great Vibes', cursive;
}

.banner_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000;
    margin: 20px 0px;
}
.button-wrap{
    justify-content: space-between;
    width: 60%;
    margin: auto;
}
.read_bt {
    width: 170px;
    float: left;
    padding-top: 30px;

}

.read_bt a {
    width: fit-content;
    float: left;
    font-size: 16px;
    color: #e63534;
    text-align: center;
    padding: 5px 12px;
    border-radius: 20px;
    border: 1px solid #E1C17E;
    font-weight: 600;
}
.read_bt a svg{
    width: 25%;
    color: #E63534;

}

.read_bt a:hover {
    color: #000!important;
    background-color: #E1C17E;
}
.swiper-slide .image-container {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide .image-container img {
    width: 100%;
    height: 100%;
}

.swiper-slide .gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%; /* Adjust this value to change the height of the gradient */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent); /* Adjust the rgba value to change the darkness of the gradient */
}



/* banner section end */


/* product section start */

.product_section {
    width: 100%;
    float: left;
    background:#202020;
}
.product_section .modal-content{
    background:#202020;
}
.product_section .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    color: #fff;
    font-size: 30px;
}
.product_section .product-wrap{
    margin-bottom: 30px;
}
.product_section .modal-content input{
    background:#666666;
    border:none;
    color:#fff;
}
.product_section .modal-content .modal-footer button{
    padding: 3px 10px;
    border-radius: 8px;
}
.product_section .modal-content form button{

    width: 100%;
    border-radius: 8px;
    padding: 5px;
    background-color: #E1C17E;

}
.product_section .modal-content input::placeholder {
    color: #fff; /* Change this to your desired color */
    opacity: 1; /* Optional: Ensure the color is fully opaque */
}
.product_section svg{
    width:150px;
}
.product_section .svg-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product_section .services-thumb .services-info{
    border:none;
    top:55%;
    z-index:10;
    padding:0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.product_section .services-thumb .services-info p{
    margin:0;
}
.product_section .sub-cat{
    border: 1px solid #E63534;
    font-family: Ysabeau Office, Times New Roman, Times, serif;
    font-weight: 500;
    font-size: 24px;
    padding: 0px 10px;
    color: #E1C17E;
    border-radius: 8px;
    text-transform: uppercase;

}
.product_section .svg-wrap h4{
    font-family: Ysabeau Office, Times New Roman, Times, serif;
    font-weight: 700;
    color: #E1C17E;
    font-size: 52px;

}
.product_section h3 {
    margin: 0;
    font-weight: 700;
    font-family: Ysabeau Office, Times New Roman, Times, serif;
    font-size: 52px;
    color: #E63534;
    text-align: center;
}
.product_section p{
    color:#fff;
}
.product-row{
    margin-bottom: 50px;
}
.product_section .card{
    border:none;
    background:#404040;

}
.product_section .card p{
    margin:0;
}
.product_section .card .card-img-top{
    border-radius:6px 6px  0 0;
    height: 300px;
    object-fit: cover;
}
.product_section .card .card-body{
    border-radius: 0 0 8px 8px;
    padding-bottom: 25px;
}
.product_section .card .card-body h5 {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;

}
.product_section .card .card-body h6 {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}
.product_section .price-wrap {
    display:flex;
    justify-content: space-between;
    width:100%;
}
.product_section .price-wrap p{
    font-weight: 500;
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;
    font-size: 22px;
    color:#E1C17E;
}
.product_section .price-wrap a{
    font-weight: 500;
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #E63534;
    border:1px solid #E1C17E;
    border-radius: 12px;
    padding:0 10px;

}
.product_section .price-wrap a:hover{
    font-weight: 500;
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #E63534;
    background: #E1C17E;
    border-radius: 12px;
    padding:0 10px;

}
.product_section .services-thumb {
    position: relative;
    overflow: hidden;
}
.product_section  .services-thumb::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%; /* Adjust height as needed */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    pointer-events: none;
}
.product_section .card .card-body p{
    color:#fff;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;
    font-size:20px;
}
.product_section .duration-wrap span{
    color:#fff;
    background:#202020;
    border-radius: 8px;
    margin-right: 10px;
    padding: 3px 6px;
}
.product_section .duration-wrap span i{
    margin-right: 7px;
}
.product_section .card .card-body a{
    background:#E1C17E;
    border-radius: 8px;
    padding:5px 10px;
}
.product_section .card .card-body a:hover{
    background:#fff;
    border-radius: 8px;
    padding:5px 10px;
    color:#000;
}
.product_section .space-heading h3{
    border-bottom:1px solid #E1C17E;
    display: flex;
    align-items: center;
}
.product_section .space-heading h3 i{
    font-size: 7px;
    margin-right: 7px;
    color:#E1C17E;
}
.product_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    text-transform: uppercase;
    text-align: start;
    color:#E1C17E;
    font-weight: bold;
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;

}

.product_text {
    width: 100%;
    float: left;
    font-size: 16px;
    text-align: start;
    color: #9A9A9A;
    margin: 0px;
}

.product_section_2 {
    width: 100%;
    float: left;
    padding-top: 30px;
}
.product_section .service-wrap{
    align-items: center;
}

.product_box {
    width: 100%;
    background-color: #ffffff;
    height: auto;
    border: 1px solid #7d7d7c;
    padding: 20px 0px 0px 0px;
    margin-top: 30px;
}

.bursh_text {
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #1a1c1b;
    font-weight: 600;
}

.lorem_text {
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: #50504f;
    margin: 0px;
}

.image_1 {
    width: 100%;
    text-align: center;
    margin: 20px 0px;
    padding: 0px 20px;
    height: 200px;
}

.btn_main {
    width: 100%;
    display: flex;
    background-color: #000;
    height: auto;
    padding: 20px 10px 13px 10px;
}

.buy_bt {
    float: left;
    width: 100%;
}

.buy_bt ul {
    margin: 0px;
    padding: 0px;
}

.buy_bt li a {
    float: left;
    font-size: 12px;
    color: #252525;
    padding: 5px 10px;
    background-color: #ffffff;
    text-transform: uppercase;
    margin-right: 5px;
    border-radius: 40px;
}

.buy_bt li a:hover {
    background-color: #f5ddb6;
    color: #ffffff;
}

.buy_bt li.active a {
    background-color: #f5ddb6;
    color: #fff;
}

.price_text {
    font-size: 16px;
    color: #fefefd;
    width: 42%;
    padding-top: 5px;
    text-align: right;
}

.seemore_bt {
    width: 170px;
    margin: 0 auto;
    padding-top: 60px;
}

.seemore_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #252525;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.seemore_bt a:hover {
    color: #ffffff;
    background-color: #f5ddb6;
}


/* product section end */
/* service section start */


.service_section {
    width: 100%;
    float: left;
    height: auto;
    padding-bottom: 90px;
    background: #202020;
}

/* about section start */


.about_section {
    width: 100%;
    float: left;
    height: auto;
    background: #202020;
}
.about_section::after{
    filter:blur(10px);
}
.about_section h2{
    text-align: center;
    font-weight: 700;
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;
    font-size: 52px;
    color:#E63534;
}
.about_section_main {
    width: 100%;
    float: left;
}
.about_section_main h3{
    color:#E1C17E;
    text-transform: uppercase;
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;
    font-weight: 600;
}
.about_section_main svg text{
    color: #E1C17E!important;
}
.about_section_main h3{
    text-align: center;
}
.about_section_main p{
    text-align: center;
    font-size: 15px;
}

.about_taital_main {
    width: 100%;
    float: left;
}
.about_taital_main-1 {
    width: 100%;
    float: left;
    padding-top: 20px;
    padding-right: 30px;
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 28px;
    color: #E1C17E;
    font-weight: 500;
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;
}

.about_text {
    width: 100%;
    float: left;
    font-size: 17px;
    color: #fff;
    margin: 0px;
}
.image-container {
    position: relative;
    float:right;
    width: 60%; /* Adjust width as needed */
    height: 100%; /* Adjust height as needed */
}
.image-container-1 {
    position: relative;
    float:left;
    width: 60%; /* Adjust width as needed */
    height: 100%; /* Adjust height as needed */
}
.image_3 {
    width: 100%;
    height: 430px;
    object-fit: cover;
    position: relative;
    z-index: 0;
}
.image-4-overlap {
    width: 120px;
    height: 120px;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(20%, 20%); /* Adjust to position from bottom right corner */
    z-index: 1; /* Ensure it's above the first image */
    /* Optionally, you can add box-shadow or border-radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Example of box shadow */
}
.readmore_bt {
    width: 170px;
    float: left;
    padding-top: 30px;
}

.readmore_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #363636;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.readmore_bt a:hover {
    color: #50504f;
    background-color: #ffffff;
}


/* about section end */


/* customer section start */

.customer_section {
    width: 100%;
    float: left;
    background:#202020;

}

.customer_taital {
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;
    width: 100%;
    float: left;
    font-size: 52px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.client_section_2 {
    width: 70%;
    margin: 0 auto;
    padding-top: 50px;
}

.client_main {
    width: 100%;
    float: left;
    background:#404040;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 50px;
}

.client_left {
    width: 30%;
    float: left;
}

.client_right {
    width: 70%;
    float: left;
    padding-top: 55px;
    padding-left: 14px;
}

.name_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.dolor_text {
    width: 100%;
    float: left;
    font-size: 14px;
    color: #fff;
    margin: 0px;
}

.client_img {
    width: 100%;
    text-align: center;
}

#main_slider a.carousel-control-prev {
    left: -60px;
    top: 360px;
}

#main_slider a.carousel-control-next {
    right: -60px;
    top: 360px;
}

#main_slider .carousel-control-next,
#main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    background: #ffffff;
    opacity: 1;
    font-size: 30px;
    color: #000000;
    border-radius: 100px;
    box-shadow: 0px 0px 18px 8px #eeeeed;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}

#main_slider .carousel-control-next:focus,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-prev:hover {
    color: #000;
    background-color: #f5ddb6
}


/* customer section end */


/* contact section start */

.contact_section {
    width: 100%;
    float: left;
    background:#202020;
}
.contact_section input{
    background:#666666;
    border:none;
    color:#fff;
}
.contact_section select{
    background:#666666;
    border:none;
    color:#fff;
}
.contact_section textarea{
    background:#666666;
    border:none;
    color:#fff;
}

.contact_section input::placeholder {
    color: #fff; /* Change this to your desired color */
    opacity: 1; /* Optional: Ensure the color is fully opaque */
}
.contact_section textarea::placeholder {
    color: #fff; /* Change this to your desired color */
    opacity: 1; /* Optional: Ensure the color is fully opaque */
}
.contact_taital {
    width: 100%;
    float: left;
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;
}

.contact_text {
    width: 100%;
    float: left;
    color: #fff;
    margin: 0px;
    font-size: 16px;
}

.contact_main {
    width: 100%;
    display: flex;
    margin-top: 45px;
}
.contact_main form{
    width:100%;
    border: 1px solid #404040;
    padding:20px;
    border-radius: 8px;
}
.contact_main form button{

    background:#E1C17E;
    border-radius: 8px;
    padding:5px 10px;
}
.contact_bt {
    width: 200px;
}

.contact_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 30px;
    background-color: #E1C17E;
    text-transform: uppercase;
    margin-right: 15px;
    border-radius: 5px;
    text-align: center;
}

.contact_bt a:hover {
    background-color: #252525;
    color: #ffffff;
}

.newletter_bt {
    width: 200px;
    margin-left: 20px;
}

.newletter_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #252525;
    padding: 10px 30px;
    background-color: #fef4ec;
    text-transform: uppercase;
    margin-right: 15px;
    border-radius: 5px;
    text-align: center;
}

.newletter_bt a:hover {
    background-color: #252525;
    color: #ffffff;
}

.map_main {
    width: 100%;
    float: left;
    margin-top: 90px;
}

.contact_section_2 {
    width: 100%;
    position: relative;
    display: inline-block; 
    padding-bottom: 30px;
}
.contact_section_2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%; /* Centers the pseudo-element */
    width: 80%; /* Adjust this value to change the length of the border */
    transform: translateX(-50%); /* Centers the pseudo-element */
    border-bottom: 1.5px solid #E63534; /* Adjust border style and color */
  }


/* contact section start */


/* footer section start */

.footer_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
    background-size: 100%;
    padding-bottom: 30px;
}
.footer_section .contact_section_2 .footer_logo_1 img{
    max-width:30%;
}
.footer_section .footer_contact_wrap{
    justify-content: space-between;
    padding-top: 30px;
}
.footer_section .contact_section_2 p{
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;
    font-weight:500;
    font-size: 24px;
}
.footer_section .business-hours .hours{
    display: flex;
    justify-content: space-between;
}
.footer_section .business-hours .hours ul li{
    color:#E1C17E;
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;
    font-size:20px;


}
.footer_section .main h3{
    text-align: end;
}
.footer_section .main ul li{
    text-align: end;
    color: #E1C17E;
}
.footer_section .main ul li a{
    color: #E1C17E;
}
.footer_section .cancellation-btn{
    background: none;
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;
    font-size: 20px;
    color:#E1C17E;
    border: 1px solid #E63534;
    width:100%;
    padding: 5px 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_section .cancellation-btn svg{
    width:30px!important;
}
.footer_section .modal-content{
    background: #202020;
}
.footer_section .modal-title{
    font-size: 30px;
    font-weight: 600;
    color:#fff;
}
.footer_section .modal-body{
    color:#fff;
}
.footer_section .cancellation-btn i{
    padding: 5px 5px;
    border:1px solid #E1C17E;
    color: #E1C17E;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_logo {
    width: 100%;
    float: left;
    text-align: center;
    display: none;
}

.footer_logo_1 {
    width: 100%;
    float: left;
    text-align: center;
}

.address_bt {
    width: 100%;
    float: left;
}

.address_bt ul {
    margin: 0px;
    padding: 0px;
}

.address_bt li {
    font-size: 16px;
    color: #E1C17E;
    padding: 10px 0px 0px 0px;
}

.address_bt li a {
    color: #E1C17E;
}

.address_bt li a:hover {
    color: #f5ddb6;
}

.padding_left10 {
    padding-left: 10px;
}

.address_text {
    font-size: 24px;
    color: #E63534;
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;
    font-weight: 500;
}

.address_text_1 {
    font-size: 36px;
    color: #E63534;
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;
    font-weight: 700;
    text-align: center;
}

.dummy_text {
    width: 100%;
    float: left;
    font-size: 14px;
    color: #ffffff;
    margin: 0px;
    text-align: center;
    padding-top: 20px;
}

.ipsum_text {
    width: 65%;
    float: left;
    font-size: 14px;
    color: #ffffff;
    margin: 0px;
    padding-top: 10px;
}

.main {
    width: 54%;
    float: right;
}

.social_icon {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    border-bottom: 1.5px solid #E63534;
    padding-bottom: 30px;
    position: relative;
    margin-top: 12px;
}

.social_icon .privacy li {
    float: left;
    font-size: 15px;
    color: #f5ddb6!important;
    padding: 5px;
}
.social_icon .privacy li a {

    color: #f5ddb6!important;
}
.social_icon .dot {
    height: 5px;
    width: 5px;
    background-color: #E1C17E; /* Blue color */
    border-radius: 50%;
    display: inline-block;
    margin-left: 15px;
}

.social_icon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%; /* Centers the pseudo-element */
    width: 50%; /* Adjust this value to change the length of the border */
    transform: translateX(-50%); /* Centers the pseudo-element */
    border-bottom: 1.5px solid #E63534; /* Adjust border style and color */
  }


.social_icon ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    text-align: center;
}

.social_icon li {
    float: left;
    font-size: 26px;
    color: #f5ddb6;
    padding: 10px;
}
.social_icon .top-icons li a {
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    width: 40px; /* Adjust as needed */
    height: 40px; /* Should be the same as width for a perfect circle */
    text-align: center; /* Centers the content within the circle */
    line-height: 40px; /* Aligns the text vertically if it's a single line */
  }
  

.social_icon li a:hover {
    color: #ffffff;
}


/* footer section end */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
}

.copyright_text {
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin: 20px 0px;
}

.copyright_text a {
    color: #ffffff;
}

.copyright_text a:hover {
    color: #f5ddb6;
}

.margin_top90 {
    margin-top: 90px;
}


.info_section {
    width: 100%;
    float: left;
    background: #202020;
    height: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

.info_section .swiper-button-next i {
    font-size: 32px; /* Adjust this value to change the icon size */
    color:#fff;
}
.info_section .swiper-button-prev i {
    font-size: 32px; /* Adjust this value to change the icon size */
    color:#fff;
}
.info_section h3{
    margin: 0px;
    color:#E1C17E;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;
    font-size: 32px;
}
.info_section p{
    margin: 0px;
    color:#fff;
}
.info_section .buttons{
    display:flex;
    flex-direction: column;
}
.info_section .swiper2 .swiper-wrapper .swiper-slide img{
    height:300px;
    width:100%;
    object-fit: cover;
    border-radius: 16px;
    margin-left:20;
}
.info_section .swiper2 .swiper-wrapper .swiper-slide .info{
    padding-left:100px;
}
.info_section .swiper2 .swiper-wrapper .swiper-slide .info-side{
    float:right;
}
.info_section .swiper2 .swiper-wrapper .swiper-slide .info-side img{
    height:150px;
    object-fit: cover;
}
.swiper-button-prev2{
    position: absolute;
    bottom: 20px; /* Adjust the value to your preference */
    z-index: 10;
    top:40%;
    transform: translateX(-50%);
    padding-right: 0!important;
}
.swiper-button-next2 {
    position: absolute;
    bottom: 20px; /* Adjust the value to your preference */
    z-index: 10;
    top:60%;
    transform: translateX(-50%);
    padding-left: 0!important;

}
.swiper-button-next2 {
    border-left:none;
}
.swiper-button-prev2 i,
.swiper-button-next2 i{
    padding:10px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.-current{
    display:flex;
    align-items:center;
} 
.current-cat{
    margin: auto;
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;
    font-weight:500;
    font-size:24px;
}
.swiper-button-prev3 i,
.swiper-button-next3 i {
    font-size: 32px; /* Adjust this value to change the icon size */
    color: #000;
    border-radius: 50%;
    padding:10px;
    background:#fff;
}


.swiper-button-prev3 {
    left: 50%;
    transform: translateX(-100%); /* Adjust this value to center properly */
    margin-right: 50px; /* Adjust as needed */
}

.swiper-button-next3 {
    left: 50%;
    transform: translateX(-100%); /* Adjust this value to center properly */
    margin-left: 50px; /* Adjust as needed */
}
.swiper-button-prev3,
.swiper-button-next3 {
    position: absolute;
    bottom: 0px; /* Adjust the value to your preference */
    z-index: 10;
}
.service_section h3 {
    color: #fff;
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: 500;
}
.service_section .card{
    border:none;
    background:#404040;

}
.service_section .card p{
    margin:0;
}
.service_section .card .card-img-top{
    border-radius:6px 6px  0 0;
    height: 300px;
    object-fit: cover;
}
.service_section .card .card-body{
    border-radius: 0 0 8px 8px;
    padding-bottom: 25px;
}
.service_section .card .card-body h5 {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
}
.service_section .card .card-body p{
    color:#fff;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;
    font-size:20px;
}
.service_section .card .card-body a{
    background:#E1C17E;
    border-radius: 8px;
    padding:5px 10px;
}
.service_section .card .card-body a:hover{
    background:#fff;
    border-radius: 8px;
    padding:5px 10px;
    color:#000;
}
.blog_section h1 {
    color: #fff;
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;
    font-size: 52px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: 500;
    text-align: center;
}
.blog_section .card{
    border:none;
    background:#0e0d0d;
    border-radius: 12px;

}
.blog_section .card p{
    margin:0;
}
.blog_section .card .card-img-top{
    border-radius:6px 6px  0 0;
    height: 300px;
    object-fit: cover;
    width:100%;
}
.blog_section .card .card-body{
    border-radius: 0 0 8px 8px;
    padding-bottom: 25px;
}
.blog_section .card .card-body button{
    background: none;
    margin-top: 15px;
    font-weight: 600;
}
.blog_section .card .card-title {
    margin-bottom: .75rem;
    font-family: 'Ysabeau Office';
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.blog_section .card .card-body h5 {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
}
.blog_section .card .card-body p {
    color: #fff;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 17px;
}

.blog_section {
    width: 100%;
    float: left;
    height: auto;
    padding-bottom: 90px;
    background: #202020;
    margin: auto;
}
.blog h1 {
    color: #E63534;
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;
    font-size: 52px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: 700;
    text-align: center;
}

.blog h2{
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;
    margin-top: 50px;
    font-weight: 600;
    font-size: 36px;
    color: #E63534;


}
.blog .body{
    font-size: 15px;
    color:#fff;
    font-weight: 400;
}
.blog .thumbnail{
    width:100%;
    height:350px;
    object-fit: cover;
}
.blog h5 {
    color: #fff;
    font-family: 'Ysabeau Office', 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.blog h6 {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}
.blog {
    width: 100%;
    float: left;
    height: auto;
    padding-bottom: 90px;
    background: #202020;
}

.blog a button{
    background:none;

}

.blog h3, h4{
    color:#fff;
}


/*---------------------------------------
  SERVICES             
-----------------------------------------*/
.services-section {
    width: 100%;
    float: left;
    background: #202020;
    height: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.services-section h3 {
    margin: 0;
    font-weight: 700;
    font-family: Ysabeau Office, Times New Roman, Times, serif;
    font-size: 52px;
    color:#E63534;
    text-align: center;
}
.services-section h4{
    color: #E1C17E;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    font-family: Ysabeau Office, Times New Roman, Times, serif;
    text-transform: uppercase;
}
.services-info h4 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}
.services-section p{
    color:#fff;
}
.services-thumb {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    height:550px;
}
.services-thumb img{
    height:100%;
    object-fit: cover;
    width:100%;
}
  
  .services-thumb:hover .services-info {
    border-color: #E1C17E;
    border-width: 5px;
  }
  
  .services-thumb:hover .services-image {
    transform: scale(1.05);
  }
  
  .services-image {
    border-radius: 20px;
    display: block;
    margin: auto;
    transition: all 0.3s;
  }
  
  .services-info {
    border-radius: 20px;
    border: 1px solid #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 20px;
    padding: 25px 30px;
    transition: all 0.3s ease;
  }
  
  .services-info h4 {
    color: #fff;
  }


.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: .2em .2em 0;
    display: flex;
    flex-direction: column;
    width: 35%;
}
.ui-widget.ui-widget-content {
    border: none;
    display: flex;
}
.ui-widget-content {
    border: none!important;
    background: #202020;
    color: #333;
}
.ui-widget-header {
    border: none;
    background: #202020;
    color: #333;
    font-weight: 700;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    color: #000;
    text-decoration: none; 
    background: #E1C17E!important;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #000;
    text-decoration: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #E1C17E;
    border-bottom-width: 1px!important;
    background: none;
    font-weight: 400;
    color: #fff!important;
    border-radius: 8px;
}
.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 8px 1px;
    border-bottom-width: 0;
    padding: 0;
    white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 8px;
    padding-bottom: 1px;
}
.product_section .product_section_2 ul li a i{
    background: #fff;
    padding: 5px 5px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    cursor: text;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: left;
    padding: .5em 1em;
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
    color: #fff;
    text-decoration: none;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #000 !important;
    text-decoration: none;
}
.ui-state-default a i{
    background: #E1C17E!important;
}
.ui-state-active a i{
    background: #fff!important;

}


.flatpickr-calendar {
    background-color: #f8f9fa; /* Change background color */
    border: 1px solid #ced4da; /* Change border color */
  }
  
  .flatpickr-day {
    border-radius: 0; /* Remove border radius from days */
    color: #495057; /* Change text color */
  }
  
  .flatpickr-day:hover {
    background-color: #e9ecef; /* Change hover background color */
  }
  
  .flatpickr-day.selected {
    background-color: #007bff; /* Change selected day background color */
    color: #fff; /* Change selected day text color */
  }
  .flatpickr-current-month .flatpickr-monthDropdown-months {
    color: #fff;
  }
  .flatpickr-time {
    background-color: #f8f9fa; /* Change background color */
    border: 1px solid #ced4da; /* Change border color */
  }
  
  .flatpickr-time input {
    color: #495057; /* Change text color */
  }
 #timePicker, #datePicker{
    background:#666666;
    border:none;
    color:#fff;
    }
  
  .flatpickr-time .flatpickr-time-separator {
    color: #495057; /* Change separator color */
  }
  
  .flatpickr-time .flatpickr-time-input:focus {
    border-color: #007bff; /* Change focus border color */
  }
  
  .services h3 {
    margin: 0;
    font-weight: 600;
    font-family: Ysabeau Office, Times New Roman, Times, serif;
    font-size: 45px;
    color: #E63534;
    text-align: center;
}
.swiper-vertical {
    touch-action: pan-y!important;
}